*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/app/src/androidTest/java/com/app/carouselanimation/ExampleInstrumentedTest.kt
/app/src/test/java/com/app/carouselanimation/ExampleUnitTest.kt
